/*
1. Page elements
2. Source and announcement lists
3. New Source button
4. The modal
  4.1 Modal background
  4.2 Modal content
5. Close and cancel
  5.1 Close button
  5.2 Cancel button
6. Calendar container

*/



body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 400px 300px;
}

/* Source and Announcement Lists */

  #external-source {
    grid-column: 1;
    grid-row: 1;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-announce {
    grid-column: 1;
    grid-row: 2;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-source h4,
#external-announce h4   {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
  }

  #external-source .fc-event,
  #external-announce .fc-event   {
    margin: 3px 0;
    /* cursor: move; */
  }

  #external-source p,
  #external-announce p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-source p input,
  #external-announce p input {
    margin: 0;
    vertical-align: middle;
  }

  #iurl {
      width: 400px;
  }

  #sfreq {
      width: 100px;
  }

  /* New Source button etc */
  .src-controls {
      display: flex;
      justify-content: center;
  }
  .src-control {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      background-color: #1a252f;
      color: white;
      border: 1px solid transparent;
      padding: 0.4em 0.65em;
      margin: auto auto 1.5em;
      font-size: 1em;
      line-height: 1.5;
      border-radius: 0.25em;
  }

  .staticname {
    font-size: 24px;
    padding-top: 2em;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Cancel Button */
.cancel {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cancel:hover,
.cancel:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Calendar Container */
#calendar-container {
   grid-column: 2;
   grid-row: 1 / span 2;
}
